body {
  background-color: lightskyblue;
  background-color: rgb(127, 225, 255);
}

.container {
  max-width: 700px;
}

.card {
  box-shadow: 9px 6px 15px rgb(92, 175, 201);
}

.form-control:focus {
  box-shadow: none;
}

input {
  max-width: 300px;
}

.weather-info {
  min-height: 220px;
}

.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #f5f5f5;
  border-top: 5px solid #222;

  transform: rotata(0deg);
  animation: loading 600ms linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
